/*-------------------------
    Populer Belief
-------------------------*/



.populer-belief-1{
    .populer-belief-contant-wrp{
        .populer-belief-title{
           h2{
            font-weight: 400;
           } 
        }
        .short-videos{
            background-color: transparent;
            padding: 0;
            border-radius: 0;
        }

    }
}